body{
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    background-color: #f4f4f4;
    padding: 30px;
    box-shadow: 0 5px 10px 10px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
}

h2{
    padding: 0;
    margin: 0;
}

.display{
    background-color: steelblue;
    color: #fff;
    font-size: 35px;
    padding: 10px;
    margin: 10px 0;
    display: none;
}

.control{
    padding: 0px;
}

.btn{
    background-color: steelblue;
    color: #fff;
    font-size: 15px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 0 15px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.btn:active{
    transform: scale(0.97);
}

.mode-btn{
    position: absolute;
    right: 10px;
    top: 10px;
}