*{
    box-sizing: border-box;
}

body{
    background-color: #000;
}

.timeline{
    /* background-color: cyan; */

    width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline::after{
    content: "";
    width: 6px;
    height: 100%;
    background-color: #fff;

    position: absolute;
    left: 50%;
    top: 0;
    /* bottom: 0; */
    
    margin-left: -3px;
}

.boxes{
    width: 50%;
    padding: 10px 40px;
    position: relative;

    /* background-color: red; */
}

.boxes::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #f6f6f6;

    border-radius: 3px;

    position: absolute;
    right: -10px;
    top: 20px;
}

.left{
    left: 0;
}

.left::before{
    content: "";
    width: 0;
    height: 0;
    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;

    position: absolute;
    right: 31px;
    top: 20px;
}

.right{
    left: 50%;
}

.right::before{
    content: "";
    width: 0;
    height: 0;
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;

    position: absolute;
    left: 31px;
    top: 20px;
}

.right::after{
    left: -10px;
}

.content{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
}