body{
    max-width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

.box{
    background-color: steelblue;
    color: #fff;

    position: absolute;
    cursor: move;

    z-index: 100;
}

#boxtitle{
    padding: 10px;
}

.btn-icon{
    width: 4rem;
    height: 4rem;
    background-color: #d918b9;
    color: #fff;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    margin: 2px 0;

    cursor: pointer;

    visibility: hidden;

    transition: all .3s;
}

.btns.show .btn-icon{
    visibility: visible;
}

.btns.show .btn-icon:nth-of-type(1){
    background-color: darkblue;
    left: 50%;
    top: -80px;
    transform: translateX(-50%);
}

.btns.show .btn-icon:nth-of-type(2){
    background-color: skyblue;
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
}

.btns.show .btn-icon:nth-of-type(3){
    background-color: darkgreen;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
}

.btns.show .btn-icon:nth-of-type(4){
    left: -120%;
    top: 50%;
    transform: translateY(-50%);
}