:root{
    --primary-color: steelblue;
    --secondary-color: tomato;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container{
    width: 450px;
}

h2{
    text-align: center;
}

.balance-box{
    width: 100%;
    background-color: #f4f4f4;

    padding: 10px 0px;
    border-bottom: 1px solid #555;
    margin: 0;

    text-align: center;
    box-shadow: var(--box-shadow);
}

.expense-box{
    background-color: #f4f4f4;

    padding: 20px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow);

    display: flex;
    justify-content: space-between;
}

.expense-box > div{
    flex: 1;
    text-align: center;
}

.expense-box > div:first-of-type{
    border-right: 1px solid #555;
}

.tran-container{
    background-color: #f4f4f4;
    padding: 10px;
    position: relative;
}

.open-btn{
    outline: none;
}

h3{
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    margin: 30px 0 20px;
}

.form-group{
    margin: 10px 0;
}

input[type="text"], input[type="date"]{
    width: 100%;

    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
}

#remark{
    display: block;
    width: 100%;
    outline: none;
    resize: none;
}

.btn{
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    
    font-size: 16px;

    padding: 10px;
    margin: 10px 0;
    border: none;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.history-box{
    width: 300px;
    background-color: #f4f4f4;

    padding: 0 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    opacity: 0;

    position: absolute;
    left: 0;
    top: 7%;
    z-index: -1;

    transition: all 0.5s;
}

.history-box.show{
    opacity: 1;
    left: 100%;
    z-index: 1;
}

.history-list{
    height: 370px;
    overflow-y: scroll;
}

.list-group{
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group .list-group-item{
    background-color: #fff;
    color: #333;
    
    padding: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: space-between;
}

.list-group .list-group-item.inc{
    border-bottom: 5px solid var(--primary-color);
}

.list-group .list-group-item.dec{
    border-bottom: 5px solid var(--secondary-color);
}

.delete-btn{
    background-color: var(--secondary-color);
    color: #fff;

    padding: 2px 5px;
    border: 0;
    outline: none;

    opacity: 0.7;
    cursor: pointer;
}

.list-group .list-group-item:hover .delete-btn{
    opacity: 1;
}