*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
    background-color: #f4f4f4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control, .btn{
    padding: 10px;
}

#game-container span{
    display: block;
    margin-top: 15px;
}